*{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body{
background: #833AB4;
background: linear-gradient(45deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.header-text{
    display: flex;
    justify-content: center;
    font-family:'Segoe UI';
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    background: rgb(0,0,0, 0.3);
    padding: 1%;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;}

.button-back{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: transparent;
    background: white;
    border-radius: 10px;
    transition: 0.3s;
}

.button-back:hover{
    border-style: solid;
    border-color: white;
    background: transparent;

    & .get-button{
        color: white;
    }
}

.get-button{
    width: 200px;
    padding: 15%;
    font-size: xx-large;
    border-style: none;
    border-radius: 10px;
    background-image: linear-gradient(45deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background-clip: text;
    color: transparent;
    transition: 0.3s;
    text-align: center;
    font-family:'Segoe UI';
    font-size: xx-large;
    font-weight: 700;
}

.text-container{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    height: 200px;
}


.get-text{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
    width: 66%;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    text-align: center;
    background: rgb(0,0,0, 0.5);
    font-size: large;
    font-family:'Segoe UI';
}